<header role="banner">
  <nav class="mobile-nav show-on-mobiles">
    {% include primary-nav-items.html %}
  </nav>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <h1>
        <a href="{{ "/" | prepend: site.baseurl }}">
          <span class="sr-only">Symmetry lab</span>
          Symmetry lab
        </a>
      </h1>
    </div>
    <nav class="main-nav unit two-thirds hide-on-mobiles">
      {% include primary-nav-items.html %}
    </nav>
    <button type="button" @click="open = true" class="show-on-mobiles">
        <svg viewBox="0 0 24 24" class="h-6 w-6 stroke-slate-300">
              <path d="M3.75 12h16.5M3.75 6.75h16.5M3.75 17.25h16.5" fill="none" stroke-width="1.5"
                  stroke-linecap="round"></path>
        </svg>
    </button>
  </div>
</header>
